.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;

  &__message {
    text-align: center;
    color: var(--ion-color-medium);
    font-size: 1rem;
    margin: 0;
  }
}
